* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 14px;
    font-weight: 400;
}

body {
    margin: 0;
    font-size: 1rem;
    background: #f7f6f1;
    color: #1b2c40;
    overflow-x: hidden;
}

p {
    margin: 0;
}

a {
    color: #1b2c40;

    &:hover {
        text-decoration: none;
        opacity: .9;
        color: black;
    }
}

button {
    &:focus {
        outline: none;
        box-shadow: none !important;
        border: none;
    }
}

.form-control {
    &:focus {
        box-shadow: none;
        outline: none;
        border-color: #1b2c40;
    }
}